@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 249, 250, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* Font default biar rapi */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* KITA HAPUS BAGIAN "JARING PENGAMAN" & "!IMPORTANT"
   Karena Tailwind Bos sudah diperbaiki sistemnya, 
   jadi tidak perlu kode cadangan yang bikin VS Code rewel. */